<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489509362219-9srincj2t49ds61ni1idoigasvqo6mlc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489509362219-9srincj2t49ds61ni1idoigasvqo6mlc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>489509362219-dueio1dbv2eldfl1dt2h7vghpr2rrf8r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCX-MQWr8QbXG3McP_-NFrqHdWm6VVD9Sk</string>
	<key>GCM_SENDER_ID</key>
	<string>489509362219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fashionApp</string>
	<key>PROJECT_ID</key>
	<string>chatme-f8dd8</string>
	<key>STORAGE_BUCKET</key>
	<string>chatme-f8dd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489509362219:ios:e4c61a39b0123f0d04286e</string>
</dict>
</plist>